.seven-cols .col-sm-1 {
  text-align: center;
  color: #3333CC;
  margin-bottom: 40px;
}

.seven-cols .col-sm-1 span {
  text-decoration: underline;
}

sup {
  padding-bottom: 4px;
  border-bottom: 1px solid #3333CC;
}

/* https://gist.github.com/kanakiyajay/15e4fc98248956614643 */
@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
  width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
  width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
  width: 14.285714285714285714285714285714%;
  }
}

#press-pro-20-pic {
  margin-top: 25px;
  margin-bottom: 35px;
}
