{% assign current = page.url | downcase | split: '/' %}
{% assign current = current[1] %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lionel Instruments">
    <meta name="keywords" content="lionel instrument instruments">
    <meta name="author" content="Gang Zheng">
    <title>莱纳产品</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    {% if page.css %}{{ page.css | textilize }}{% endif %}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Lionel D&amp;J Canada</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li{% if page.url == '/' %} class="active"{% endif %}><a href="/">莱纳主页</a></li>
            <li{% if current == 'products' %} class="active"{% endif %}><a href="/products/">产品目录</a></li>
            <li{% if current == 'services' %} class="active"{% endif %}><a href="/services/">我们的服务</a></li>
            <li{% if current == 'contact' %} class="active"{% endif %}><a href="/contact/">与我们联系</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <footer class="footer">
      <div class="container">
        <div class="row">
          <p class="text-muted text-center">Copyright &copy; Lionel D&amp;J Corporation 2016</p>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% if page.js %}{{ page.js | textilize }}{% endif %}
  </body>
</html>